<div class="col-sm-3">
    <p style="padding-left:10px"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{username}}</p>
    <task-filter (filterChanged)="refresh($event)"></task-filter>
    <button type="button" class="btn btn-success btn-block" (click)="showNewTaskModal()"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New Task</button>
</div>
<div class="col-sm-9 content">
    <task-list [filter]="filter"></task-list>
</div>
<div bsModal #newTaskModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideNewTaskModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">New Task</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="tasName">Name</label>
                    <input class="form-control" id="taskName" type="text" [(ngModel)]="newTask.name">
                </div>
                <div class="form-group">
                    <label class="control-label" for="tasDescription">Description</label>
                    <input class="form-control" id="tasDescription" type="text" [(ngModel)]="newTask.description" placeholder="Optional">
                </div>
                <div class="form-group">
                    <label class="control-label" for="taskDueDate">Due date</label>
                    <input class="form-control" id="taskDueDate" type="datetime" [(ngModel)]="newTask.deadline" placeholder="Optional">
                </div>
                <p class="text-danger">{{addMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" (click)="hideNewTaskModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="addTask()">That's fine</button>
            </div>
        </div>
    </div>
</div>