<div class="panel panel-primary filter">
    <div class="panel-heading">
        <h3 class="panel-title">ONLY SHOW</h3>
    </div>
    <div class="panel-body">
        <md-checkbox [(ngModel)]="filter.showFinished">Finished Task</md-checkbox>
        <md-checkbox [(ngModel)]="filter.showUnfinish">Unfinish Task</md-checkbox>
        <md-checkbox [(ngModel)]="filter.showScheduled">Task has due date</md-checkbox>
        <md-checkbox [(ngModel)]="filter.showUnSchedule">Tak has no due date</md-checkbox>
        <button type="button" class="btn btn-primary btn-block" (click)="apply()">Apply</button>
    </div>
</div>